@font-face {
  font-family: 'Arial';
  src: url('/assets/fonts/Arial.eot');
  src: url('/assets/fonts/Arial.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Arial.woff2') format('woff2'), url('/assets/fonts/Arial.woff') format('woff'), url('/assets/fonts/Arial.svg#BigJohn') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00BF;
}
